<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="title">This is Brazil</h1>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-instagram"></i>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="button-row">
      <button mat-button>Home</button>
      <button mat-button>Books</button>
      <button mat-button>Education</button>
      <button mat-button>e-Sports</button>
      <button mat-button>Movies & Series</button>
      <button mat-button>Music</button>
      <button mat-button>Politics</button>
      <button mat-button>Science</button>
      <button mat-button>Sports</button>
      <button mat-button>Turismo</button>
      <button mat-button>Miscellaneous</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>